---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import GradiantText from "../shared/GradiantText.astro";
import { projects } from "../../utils/data.ts";

type ProjectProps = {
  name: string;
  description: string;
  highlights: string[];
  link: string;
};

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="projects" class=`${className}`>
  <Container className="">
    <div class="text-center max-w-3xl mx-auto">
      <Title>Recent <GradiantText>Projects</GradiantText></Title>
    </div>
    <div class="grid md:grid-cols-2 gap-6 mt-8">
      {
        projects.map((project: ProjectProps) => {
          return (
            <div class="p-6 rounded-2xl border border-box-border bg-box-bg shadow-lg">
              <h3 class="text-heading-1 font-semibold text-xl">{project.name}</h3>
              <Paragraph className="mt-3">{project.description}</Paragraph>
              <div class="mt-4 space-y-3 text-heading-3">
                {
                  project.highlights.map((highlight) => (
                    <div class="flex items-start">
                      <span class="font-bold rounded-full w-8 h-8 mr-2 text-primary inline-flex justify-center items-center">
                        &checkmark;
                      </span>
                      <span>{highlight}</span>
                    </div>
                  ))
                }
              </div>
              {
                project.link && (
                  <a
                    href={project.link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="inline-block mt-5 text-primary underline font-medium"
                  >
                    View on Google Play
                  </a>
                )
              }
            </div>
          );
        })
      }
    </div>
  </Container>
</section>
